{% extends 'base.html.twig' %}

{% block title %}Ceramic residues{% endblock %}

{% block body %}
    <h1>Ceramic residues</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{% for image2 in product.image2s %}
        <img src="{{ asset(image2.path) }}" alt="" width = 90 height = 90>
   {%  endfor %}</td>

                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.productCategory }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">add more</a>
{% endblock %}
